# Miscellaneous
.DS_Store

# IntelliJ related
.idea/
*.iml

# Flutter/Dart/Pub related
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
macos/
ios/

# Android Studio will place build artifacts here
android/app/src/debug
android/app/src/profile
android/app/src/release
